@model IEnumerable<MovieDeck.Data.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<p class="text-center">
    <a asp-action="Create" class="btn btn-outline-success my-3">Create New</a>
</p>
<div class="mx-5">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
