@model MovieDeck.Web.ViewModels.Movies.MoviesListViewModel

@{
    this.ViewData["Title"] = "All Movies";
}

@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true">

}

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span>@Model.MoviesCount movies</span> in total</p>
                    @*<div>
                        <form asp-controller="Movies" asp-action="All" asp-route-id="1" method="get">
                            <label>Sort by:</label>
                            <select asp-for="Order" asp-items="Model.OrderOptions"></select>
                            <input class="btn btn-sort" type="submit" value="Sort">
                        </form>
                    </div>*@
                </div>
                <div class="flex-wrap-movielist">
                    @if (Model.MoviesCount == 0)
                    {
                        <h1>Nothing found.</h1>
                    }
                    @foreach (var movie in Model.Movies)
                    {
                        <div class="movie-item-style-2 movie-item-style-1">
                            <img class="img-fluid lazyload" src="@movie.PosterUrl" alt="">
                            <div class="hvr-inner">
                                <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"> Read more </a>
                            </div>
                            <div class="mv-item-infor">
                                <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                <p class="rate"><i class="bi bi-star-fill" style="color: #f5b50a;"></i><span>@movie.AverageRating.ToString("0.0")</span> / 10</p>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.MoviesCount != 0)
                {
                    <partial name="_PagingPartial" model="@Model"  />
                }
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search for movie</h4>
                        <form class="form-style-1" asp-controller="Movies" asp-action="All" asp-route-id="1" method="get">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label class="w-100" asp-for="SearchModel.Search">Movie name</label>
                                    <input class="w-100 pl-3" asp-for="SearchModel.Search" placeholder="Search by Title">
                                </div>
                                <div class="col-md-12 form-it">
                                    <label asp-for="SearchModel.GenresIds" class="form-label"></label>
                                    <select asp-for="SearchModel.GenresIds" asp-items="@Model.SearchModel.GenresItems" class="form-control form-control-lg input transparent-input selectpicker"
                                        data-live-search="true" data-actions-box="true" data-size="3"></select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Release Year</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="w-100 pl-3" asp-for="SearchModel.FromYear" placeholder="From">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="w-100 pl-3" asp-for="SearchModel.ToYear" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label class="w-100">Sort By:</label>
                                    <select asp-for="Order" asp-items="Model.OrderOptions" class="w-100 pl-3"></select>
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js" asp-append-version="true"></script>
}
